.box {
  width: 20vw;
  align-items: center;
  text-align: center;
  font-size: 1vw;
  border-radius: 10px !important;
  margin: 1vw;
  background-color: #f1edf4 !important;
}
.box-img {
  max-width: 12vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.btn-acquista {
  background-color: green !important;
}
.btn-acquista, .btn-carrello {
  font-size: 0.9vw;
  width: 5vw !important;
  height: auto;
  border-radius: 12px !important;
  color: white;
  margin: 1vw;
}