.footer {
    background: #0FFF01;
    background: -webkit-linear-gradient(bottom, #0FFF01, #74FF39);
    background: -moz-linear-gradient(bottom, #0FFF01, #74FF39);
    background: linear-gradient(to top, #0FFF01, #74FF39);
    color: white;
    margin-top: 46vw;
    padding: 1vw;
}