.parallax-P {
  font-size: 5vw;
}
.parallax-new {
  margin: 5vw;
  margin-top: -10vw;
}
.col-btn {
  margin-top: 5vw;
  margin-left: 18vw;
}
.btn-items {
  width: 10vw !important;
  height: auto;
  font-size: 1.3vw !important;
  background-color: #dfc464 !important;
  border-color: #bea445 !important;
  color: white !important;
}

.parallax-user1 {
  margin-top: -6vw;
  margin-left: 35.5vw;
}
.parallax-user2 {
  margin-left: 34vw;
}
.col-login {
  margin-top: 5vw;
  margin-left: 53vw;
}
.btn-login {
  width: 10vw !important;
  height: auto;
  font-size: 1.3vw !important;
  background-color: #dfc464 !important;
  border-color: #bea445 !important;
  color: white !important;
}